<section>
    <div class="contenedor-logo">
        <img src="./img/logo-udc.png" alt="logo universidad">
    </div>
    <article>
        <h4>Programación Web I - Universidad del Chubut</h4>
        <h5 title="Diseñadora gráfica y Técnica en desarrollo de Software">
            <i >DG/DS.</i>  S. Solange Paleo
        </h5>
        <p>&#169; Todos los derechos reservados</p>
    </article>
</section>
<article>
    <ul>
        <h4>Bibliografía:</h4>
        <li> 
            <a href="https://docs.google.com/document/d/" target="_blank"  rel="noopener noreferrer">
                Apuntes de cátedra
            </a>
        </li>
        <li> 
            <a href="https://developer.mozilla.org/es/docs/Learn_web_development/Getting_started/Your_first_website/Styling_the_content" target="_blank"  rel="noopener noreferrer">
                MDN Web Docs. Styling the content. Mozilla.
            </a>
        </li>
        <li> 
            <a href="https://www.w3.org/TR/css/#css-glossary" target="_blank"  rel="noopener noreferrer">
                W3C. CSS snapshot 2024. World Wide Web Consortium.
            </a>
        </li>
    </ul>
</article>